.icon-bar {
    background-color: black !important;
}

h1 {
    color: #008811 !important;
}

h2 {
    color: #008811 !important;
    background-color: #ddffdd;
    margin-top: 1.5em;
    text-align: center;
}

.jumbotron {
    background-color: #ddffdd;

}


.item {
    margin-top: 50px;
}

.price {
    float: left;
}
