.icon-bar {
    background-color: black !important;
}

h1 {
    color: #008811 !important;
}

h2 {
    color: #008811 !important;
    background-color: #ddffdd;
    margin-top: 1.5em;
    text-align: center;
}

.jumbotron {
    background-color: #ddffdd;

}


.item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.quantity {
    color: gray;
}

.price {
    aafloat: left;
}
.vspace {
    height: 10px;
}
