{% extends "base.html" %}

{% block title %}Flower Sale Front{% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>A Flower Sale!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div>

<div class="container">
  <a class="section-link-target" name="1"></a> 
  <h2>Flowers</h2>
  <div class="row">
    {{ get_items("flower") }}
  </div>

  <a class="section-link-target" name="2"></a> 
  <h2>Vegetables</h2>
  <div class="row">
    {{ get_items("veg") }}
  </div>

  <a class="section-link-target" name="3"></a> 
  <h2>Foliage Plants</h2>
  <div class="row">
    {{ get_items("Foliage") }}
  </div>

  <a class="section-link-target" name="4"></a> 
  <h2>Ready to Use Baskets and Containers</h2>
  <div class="row">
    {{ get_items("Ready to Use Baskets and Containers") }}
  </div>

  <hr>

</div> <!-- /container -->

{% endblock %}
