{% extends "base.html" %}

{% block title %}Flower Sale Front{% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="item col-sm-8 col-md-9">

        <h1>Meadow Glens Home and School Spring Flower Sale</h1>
        <p>
        Support your school and add color to your gardens at the same time!  See
        the <a href="info.html">Info page</a> for questions on ordering.
        <p>
        <b>Order deadline: April 13th, 2016</b>.  Pickup date: May 5th, 2016, 12:00 -
        3:00 PM at Meadow Glens Elementary School outside the front door.
      </div>
      <div class="item col-sm-4 col-md-3">

        <img class="item-image img-responsive" src="thumbs/jumbrotron image 250.png"></img>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <a class="section-link-target" name="1"></a> 
  <h2>Flowers</h2>
  <div class="row">
    {{ get_items("flower") }}
  </div>

  <a class="section-link-target" name="2"></a> 
  <h2>Vegetables</h2>
  <div class="row">
    {{ get_items("veg") }}
  </div>

  <a class="section-link-target" name="3"></a> 
  <h2>Foliage Plants</h2>
  <div class="row">
    {{ get_items("Foliage") }}
  </div>

  <a class="section-link-target" name="4"></a> 
  <h2>Ready to Use Baskets and Containers</h2>
  <div class="row">
    {{ get_items("Ready to Use Baskets and Containers") }}
  </div>

  <hr>

</div> <!-- /container -->

{% endblock %}
